<% layout('./boilerplate/boilerplate.ejs') %>
<body>
    <div class="addmovie">
        <h1 class="addmovietitle">SignUp</h1>
        <form action="/signup" method="post">
            <input type="text" name="username" placeholder="username">
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <button>Submit</button>
        </form>
    </div>
</body>